<div class="pro-detail-info clear" id="pro-detail-info">
    <div class="txt-info cpy-info">
        <h3><a href="{{data.domainUrl}}/china-supplier/{{data.company.companyId}}.html" target="_blank">{{data.company.companyName}}</a>
        </h3>

        <div class="country">
            <span class="flags fs{{data.company.countryId}}"></span>
            <span class="txt">{{data.company.region}}</span>
            <span class="mth" a-if="data.company.visitTimes" can-tip-type="left"
                  can-tip="CAN_TITLE.EXP_NUM | {{data.company.visitTimes}}">{{data.company.visitTimes}}</span>
        </div>

        <p class="txt-tit">
            <span i18n>MODULE.PRODUCT_DETAIL.CONTACTER</span>ssss
            <em>{{data.company.contacter}}</em>
        </p>

        <p class="txt-tit" a-if="data.company.mainProduct">
            <span i18n>MODULE.PRODUCT_DETAIL.MAIN_PRODUCT</span>
            <em substr="46">{{data.company.mainProduct}}</em>
            <span a-if="oData.company.showPM" cantitle="left:{{data.company.mainProduct}}">...</span>
        </p>

        <p class="txt-tit">
            <span i18n>MODULE.PRODUCT_DETAIL.CERT</span>
            <em>{{data.company.certificationNo}}</em>
        </p>
    </div>
    <div class="det-l">
        <div pic-view="{{data.pictureJSON}}"></div>

        <div class="des">
            <h3>{{data.product.productName}}</h3>

            <div class="row">
                <label class="tit" i18n>MODULE.PRODUCT_DETAIL.PRICE</label>

                <div class="txt">{{data.product.fobPrice}}</div>
            </div>
            <div class="row" a-if="data.product.model">
                <label class="tit" i18n>MODULE.PRODUCT_FORM.PRODUCT_MODEL</label>

                <div class="txt">{{data.product.model}}</div>
            </div>

            <div class="row" a-if="data.product.startPort">
                <label class="tit" i18n>MODULE.PRODUCT_DETAIL.PORT</label>

                <div class="txt">{{data.product.startPort}}</div>
            </div>
            <div class="row" a-if="data.product.minOrder">
                <label class="tit" i18n>MODULE.PRODUCT_DETAIL.QUANTITY</label>

                <div class="txt">{{data.product.minOrder}}</div>
            </div>
            <div class="row" a-if="data.product.monthSupply">
                <label class="tit" i18n>MODULE.PRODUCT_DETAIL.ABILITY</label>

                <div class="txt">{{data.product.monthSupply}}</div>
            </div>
            <div class="row" a-if="data.product.payMethods">
                <label class="tit" i18n>MODULE.PRODUCT_DETAIL.PAYMENT</label>

                <div class="txt">{{data.product.payMethods}}</div>
            </div>
            <div class="row" a-if="data.product.tags.length">
                <label class="tit" i18n>MODULE.PRODUCT_DETAIL.TAGS</label>

                <div class="txt">
                    <span a-repeat="data.product.tags" class="tags-item">{{.}}</span>
                </div>
            </div>
            <div class="row" a-if="data.product.shortDescription">
                <label class="tit" i18n>MODULE.PRODUCT_DETAIL.INTRO</label>

                <div class="txt">{{data.product.shortDescription}}</div>
            </div>
        </div>
    </div>
</div>

<div class="box-base-info" a-if="data.specifications">
    <div class="video-display" a-if="data.product.videoUrl">
        <div class="tit-s2">
            <h3 i18n>MODULE.PRODUCT_DETAIL.VIDEO_DISPLAY</h3>
        </div>
        <div id="view_wrap" class="pro-detail"></div>
    </div>
    <div class="tit-s2">
        <h3 i18n>MODULE.PRODUCT_DETAIL.SPEC</h3>
    </div>
    <div class="pro-detail">{{{data.specifications}}}</div>
</div>
